test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="patronymic" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="personId" type="xs:int" use="required"/>
    </xs:complexType>
    
</xs:schema>